/* Navigation */

.navbar {
    background: #fff;
    box-shadow: 2px 2px 10px grey;
}

.sidebar {
    margin-top: 2%;
}

.sidebar a {
    color: rgb(78,78,78);
    font-size: 15px;
    font-weight: 300;
}

.sidebar-sticky li {
    margin-bottom: 3%;
}

.nav-link i {
    color: rgb(136,136,136);
}

.nav-search {
    /* width: 120px; */
    margin: 0 10%;
}

.nav-search .input-group-text, .form-control {
    background-color: #e5e5e5;
    border: 0;
}

/* Feed */

.main-search {
    height: 40px;
    border-radius: 5px !important;
    z-index: 900;   
}

.input-group-append {
    margin-left: -65px;
    margin-top: 4px;
    margin-bottom: 6px;
    z-index: 1000; 
}  

.search-btn {
    border-radius: 3px !important;
    border: #fff;
    color: #fff; font-size: 15px; font-weight: 300;
    background: rgb(116,0,146);
    background: linear-gradient(117deg, rgba(116,0,146,0.9724264705882353) 13%, rgba(86,21,128,1) 59%);
}








/* General */

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.form-control {

}





